/* CSS styling for terminal needed here... */

md-card.terminal{
  background: #141414;
}

md-content.terminal{
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
}

md-content.terminal p{
	margin:0
}