<div layout="column" layout-fill layout-align="start center">
  <div layout="column" layout-align="start center">
    <p>{{shell.src}} logged in as {{shell.user}}/{{shell.pass}}. This page auto-loads new shells as they appear</p>
  </div>

  <div layout="row" flex-sm="100" flex-gt-sm="80" layout-fill style="height:73vh;">
    <md-card class="terminal" layout-fill>
      <md-content class="terminal" style="height:71vh">
        <div ng-repeat="output in shelloutput">
          <p>
            {{output.cmd}}
          </p>
          <p ng-repeat="line in output.resp track by $index">
            {{line}}
          </p>
        </div>
        <div id="bottom" class="anchor"></div>
      </md-content>
    </md-card>
  </div>
</div>